extends layout

include mixins/_searchForm

block content
  h2 Search Term 
    sup.info
      i.fa.fa-info-circle
      .info_blurb 
        .inner search for photos by term, nouns and proper nouns work best.
  +searchForm()
  .search-error
