.content{
    min-width: 100vw;
    min-height: calc(100vh - 67px);
}

main{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;    
    font-weight: 500;
    text-align: center;

    .info{
        position: relative;
        cursor: pointer;

        i.fa{
           color: #615757;
           font-size: 1.75rem;   
        }

        .info_blurb{
            display: none;
            position: absolute;
            width: 150px;
            background: #fff;
            padding: 5px 10px;
            border: 1px solid #eee;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.43); 
            box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.43);
            font-size: 1.2rem;
        }

        &.active{
            .info_blurb{
                display: inline-block;
                top: -60px;
                left: -50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);

                .inner{
                    position: relative;

                    &:after{
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 56%;
                        width: 10px;
                        height: 10px;
                        background: #fff;
                        border-right: 1px solid #eee;
                        border-bottom: 1px solid #eee;
                        -webkit-transform: rotate(45deg); 
                        -ms-transform: rotate(45deg); 
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

//stacked styles
.stacked{
    
    .content{
        min-height: auto;
    }

    main{
        position: static;
        transform: none;
    }
}

@media all and (min-width: 768px){
    h2 {
        .info{

            &.active{
                .info_blurb{
                    left: 0;
                    -webkit-transform: none;
                    -ms-transform: none;
                    transform: none;

                    .inner{
                        &:after{
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
